:root {
    --newCommunityTheme-bodyText: #d7dadc;
    --newCommunityTheme-button: #d7dad7;
    --newCommunityTheme-line: #343536;
    --newCommunityTheme-field: #272729;
    --newCommunityTheme-actionIcon: #818384;
    --newCommunityTheme-metaText: #818384;
    --newCommunityTheme-body: #1a1a1b;
}

input::placeholder,
textarea::placeholder {
    color: var(--newCommunityTheme-actionIcon);
}

$background: #030303;

* {
    margin: 0;
    color: #fff;
    box-sizing: border-box;
}
body {
    background: $background;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.spacing-top-header {
    padding-top: 80px;
}
